// Body
$body-bg: #f8d4ba;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #050A30;
$indigo: #7EC8E3;
$purple: #2F2440;
$pink: #c34f5a;
$red: #BA0F30;
$orange: #F27900;
$yellow: #d69f3a;
$green: #18A558;
$teal: #4dc0b5;
$cyan: #6cb2eb;
