.enter-image {
  img {
    height: 200px;
    width: auto;
    margin: 7px;
    display: block;
}

}
.items {
    display:inline;
    align-items:flex-start;
    justify-content:start;
    text-align: center;

    &__category {
      color: #BA0F30;
    }

    img {
        height: 200px;
        width: auto;
        margin: 7px;
        display: block;
    }
    h6 {
        color: #c34f5a;
        font-style: bold;


    }
     

    
//info multiline rodymas

    [data-tooltip] {
      position: relative;
      &:before,
      &:after {
        opacity: 0;
        position: absolute;
        left: 50%;
        backface-visibility: hidden
      }
      &:before {
        transform: translate(-50%, calc(-50% - 6px));
        transition: opacity .1s cubic-bezier(.73, .01, 0, 1) 0s, transform .6s cubic-bezier(.73, .01, 0, 1) 0s, -webkit-transform .6s cubic-bezier(.73, .01, 0, 1) 0s;
        z-index: 110000
      }
      &:after {
        content: attr(data-tooltip);
        text-align: center;
        padding: 10px 10px 9px;
        color: #c34f5a;
        transition: opacity .3s cubic-bezier(.73, .01, 0, 1), transform .3s cubic-bezier(.73, .01, 0, 1), -webkit-transform .3s cubic-bezier(.73, .01, 0, 1);
        pointer-events: none;
        z-index: 999;
        bottom: 100%;
        transform: translate(-50%, 12px);
        max-width: 320px;
        text-overflow: ellipsis;
        overflow: hidden
      }
    }
    [data-tooltip]:after {
      background: white;
    }
    [data-tooltip]:before {
      border-top-color: #c34f5a;
    }
    [data-tooltip] {
      &:focus,
      &:hover {
        &:before,
        &:after {
          opacity: 1;
        }
      }
      &:focus,
      &:hover {
        &:before {
          transition: opacity .1s cubic-bezier(.73, .01, 0, 1) .1s, transform .6s cubic-bezier(.73, .01, 0, 1) .1s, -webkit-transform .6s cubic-bezier(.73, .01, 0, 1) .1s;
          transform: translate(-50%, calc(-50% - 2px));
        }
        &:after {
          transform: translate(-50%, -6px);
        }
      }
    }
    [data-tooltip][data-tooltip-conf*=multiline]:after {
      word-break: break-word;
      white-space: normal;
      min-width: 350px;
      text-overflow: clip;
    }
  
}
