@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "poppins", sans-serif;
    color: #101010;
    background-color: #ffffff;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.heading_container h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

/*header section*/
.hero_area {
    padding: 0 45px;
    color: red;
}

.hero_area.sub_pages {
    height: auto;
}

#navbarSupportedContent {
    width: 100%;
    background-color: #f9ece6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
}


#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
    background-color: #f4f5f6;
}

#navbarSupportedContent .navbar-nav .nav-link {
    padding: 5px 25px;
    color: red;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
    background-color: #ffffff;
}

*/ a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

svg {
    fill: red;
    height: 25px;
    width: 25px;
}

button {
    color: red;
    outline: none;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    margin: 15px 0;
    padding: 0;
}

.navbar-brand span {
    font-size: 28px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.custom_nav-container {
    z-index: 99999;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    color: red;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}


end header section*/ .slider_section .slider_container {
    color: #fefefe;
    background-color: #000000;
    background-color: #f89cab;
    padding: 25px;
    border-radius: 0 0 15px 15px;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 45px;
}

.slider_section .img-box img {
    width: 275px;
}

.slider_section .detail-box {
    padding-left: 45px;
    margin: 45px 0;
}

.slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: red;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
}

.slider_section .detail-box a:hover {
    background-color: transparent;
    color: red;
}

.slider_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 5%;
    padding: 7px 10px;
    border-radius: 5px 5px 0 0;
}

.slider_section .carousel_btn-box img {
    margin: 0 10px;
}


.shop_section .heading_container {
    margin-bottom: 20px;
}

.shop_section .box {
    background-color: #f9ece6;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}

.shop_section .box a {
    color: red;
}

.shop_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    height: 245px;
}

.shop_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
}

.shop_section .box .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
    color: red;
}

.shop_section .box .new {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #ffffff;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 15px;
    overflow-wrap: break-word;
}

.shop_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.shop_section .btn-box a {
    padding: 10px 30px;
    background-color: red;
    color: #ffffff;
    border: 1px solid red;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.shop_section .btn-box a:hover {
    background-color: transparent;
    color: red;
}

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
}

.why_section .box .img-box {
    margin-bottom: 15px;
}

.why_section .box .img-box svg {
    width: 55px;
    height: auto;
    fill: red;
}

.contact_section .form {
    display: block;
    text-align: center;
}

.contact_section .container-bg {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}

.contact_section .heading_container {
    margin-bottom: 20px;
}


.contact_section.form form {
    padding-right: 35px;
    padding: 45px 20px;
}

.contact_section input {
    width: 30%;
    border: 1px solid #919191;
    height: 50px;
    margin-top: 25px ;
    margin-bottom: 10px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: red;
}

.contact_section input::-webkit-input-placeholder {
    color: red;
}

.contact_section input:-ms-input-placeholder {
    color: red;
}

.contact_section input::-ms-input-placeholder {
    color: red;
}

.contact_section input::placeholder {
    color: red;
}

.contact_section input.message-box {
    height: 120px;
}

.contact_section button {
    display: inline-block;
    padding: 12px 45px;
    background-color: red;
    color: #ffffff;
    border: 1px solid red;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block;
    color: #fff;
    margin: 35px auto 0 auto;
    margin-bottom: 25px;
}

.contact_section button:hover {
    background-color: transparent;
    color: red;
}


.client_section .heading_container {
    margin-bottom: 20px;
}

/* info section */
.info_section {
    position: relative;
    background-color: #f9ece6;
    color: red;
    margin: 0 45px 45px;
}

.info_section .social_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.info_section .social_container .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info_section .social_container .social_box svg {
    margin: 0 10px;
    fill: red;
    font-size: 24px;
}

.info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
}

.info_section .info_form form button {
    padding: 8px 35px;
    outline: none;
    border: none;
    color: white;
    background: red;
    margin-top: 15px;
    text-transform: uppercase;
}

.info_section .row>div {
    margin-top: 25px;
}

.info_section a {
    text-transform: none;
}

.info_section h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}

.info_section p {
    color: red;
}

.info_section .info_link-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
}

.info_section .info_link-box a:hover {
    color: red;
}

.info_section .info_link-box a i {
    color: red;
    margin-right: 5px;
    font-size: 18px;
}

.info_section .info_link-box a span {
    color: red;
}

.info_section .info_link-box a:hover span {
    color: red;
}

/* end info section */

/* footer section*/
.footer_section {
    margin-top: 45px;
    font-weight: 500;
}

.footer_section p {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.5px solid #eeeeee;
    width: 80%;
}

.footer_section a {
    color: red;
}

/* end footer section*/
